name: phenikaa-scheduler
services:
  # Dịch vụ Database PostgreSQL
  postgres:
    image: postgres:16-alpine
    container_name: pk_scheduler_db
    restart: always
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=scheduler_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - scheduler-network

volumes:
  postgres_data:

networks:
  scheduler-network:
    driver: bridge